* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px; 
}
hr {
    height: 3px;
    width: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: black;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.currentPlayer {
    text-align: center;
    font-size: 18px; 
}

.velha1,
.velha2 {
    width: 100px; 
    height: auto;
}

